doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    contains a simple express based web app (sign in, sign up, sign out, a protected and public pages) + integration tests for all pages
  body
    block content
